<% if @post.errors.any? %>
  <div class="alert alert-danger">
    <h5><%= t('common.errors')%></h5>
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for [:admin, @post], html: { multipart: true } do |f| %>
<div class="form-group">
<%= f.label :title %>
<%= f.text_field :title, class: 'form-control'%>
</div>
<div class="form-group">
<%= f.label :summary %>
<%= f.text_area :summary, class: 'form-control'%>
</div>
<div class="form-group">
<%= f.label :body %>
<%= f.text_area :body, class: 'form-control'%>
</div>

<div class="form-group">
<%= f.file_field :image %>
</div>

<br>
<div class="form-group">
<%= f.submit 'Coxpaнить', class: 'btn btn-primary' %>
<%= link_to 'Назад', :back, class: 'btn btn-outline-secondary' %>
</div>
<% end %>
