<article class="post">
  <section class="post-head">
    <h2><%= link_to post.title, post_path(post) %></h2>
    <small>
      <time><%= post.created_at.to_date.strftime("%d %B, %Y") %></time>
       <% if user_signed_in?%>
      |
      <%= link_to 'Изменить', edit_admin_post_path(post) %>
      |
      <%= link_to 'Удалить', admin_post_path(post), method: :delete, data: { confirm: 'Ви уверени?'} %>
        <% end %>
    </small>
  </section>
  <section class="post-summary clearfix">
    <%= image_tag post.image.url(:thumb), class: 'img-thumbnail thumb' if post.image? %>
    <%= post.summary %>
  </section>
</article>
