<!DOCTYPE html>
<html>
  <head>
    <title>Metal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container ">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="<%= posts_path%>">Статьи</a>
              </li>

<% if user_signed_in? %>
              <%= link_to 'Новая статья', new_admin_post_path, class: 'btn btn-outline-primary'%>
 <% end %>
                <ul class="navbar-nav pull-xs-right">
                 <% if user_signed_in? %>
                   <li class="nav-item">
                     <%= link_to "Выход", destroy_user_session_path, method: :delete, class: "nav-link" %>
                   </li>
                 <% else %>
                   <li class="nav-item">
                     <%= link_to "Вход", new_user_session_path, class: "nav-link" %>
                   </li>
                   <li class="nav-item">
                     <%= link_to "Регистрация", new_user_registration_path, class: "nav-link" %>
                   </li>
                 <% end %>

               </ul>
            </div>
          </div>
        </nav>
      </div>

      <div class="container main">
        <div class="row">
          <div class="col-md-12">
          <% flash.each do |name, message| %>
        <div class="alert <%= bootstrap_class_for(name) %>">
          <button class="close" data-dismiss="alert">&times;</button>
            <%= message %>
            </div>
          <% end %>
          </div>
        </div>
        <%= yield %>
      </div>

    </body>
  </html>
